@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
.searchBar {
    display: flex;
    align-items: center;
  }
  
  .input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 3.125rem;
    opacity: 0.5;
    background: #AFAFAF;
    width: 20rem;
    height: 0.8rem;
    flex-shrink: 0;
    text-align: left;
    padding: 1rem;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .button {
    background: none;
    border: none;
    border-radius: 1.25rem;
    padding: 0.3125rem 0.625rem;
    margin-left: 0.625rem;
    cursor: pointer;
  }
  